.icon_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
  cursor: pointer;
  &__content {
    color: #a5a4a4;
    font-size: 10px;
    display: flex;
  }
  &__icon {
    font-size: 22px;
    color: #000;
  }
}
.icon_main:hover .icon_main__content {
  color: red;
}
.icon_main:hover .icon_main__icon {
  color: red;
}
