.navigate {
  background-color: red;
  height: 45px;
  &__content {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    height: 45px;
    align-items: center;
  }

  &__link {
    margin-right: 25px;
    list-style: none;
    cursor: pointer;
  }
}
