.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
}
.active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(74, 74, 241);
  box-sizing: border-box;
}
