.header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  position: relative;

  &__span {
    color: blue;
    width: 20px;
    height: 5px;
    display: block;
    font-size: 40px;
    margin: 0;
  }
  &__span::before {
    content: "-";
    position: absolute;
    top: 10px;

    color: blue;
    font-size: 40px;
    left: 0;
  }
  &__span::after {
    content: "-";
    position: absolute;
    top: 18px;
    color: blue;
    font-size: 40px;
    left: 0;
  }
  &__logo {
    width: 15%;
    display: flex;
  }
  &__form {
    display: flex;
    width: 18%;
    overflow: hidden;
  }
  &__input {
    border-radius: 8px;
    background-color: #eceef0;
    padding: 6px;
    height: 30px;
    font-size: 15px;
    width: 100%;
    padding-left: 35px;
    outline: none;
    border: 1px solid #ccc;
  }
  &__btn {
    display: flex;
    width: 15%;
    height: 25px;
    padding: 9px;
    border-radius: 9px;
    background-color: #36b555;
    color: aliceblue;
    text-align: center;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  &__log {
    display: flex;
    width: 8%;
    height: 25px;
    padding: 9px;
    border-radius: 9px;
    background-color: #e2e1e1;
    color: #000;
    text-align: center;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  &__btn:hover {
    cursor: pointer;
    background-color: #4ce472;
  }

  &__form {
    position: relative;
    // padding: 8px;
    :hover:not(.header__icon) {
      background-color: aliceblue;
      border: 1px solid blue;
    }
  }
  &__icon {
    display: block;
    position: absolute;
    top: 14px;
    font-size: 18px;
    left: 9px;
  }
  &__img {
    width: 85%;
    height: 35px;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
}
